.side-bar {
  width: 300px;
  background-color: #253141;
  &__user-name {
    height: 100px;
    display: flex;
    align-items: center;
  }
  &__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
}

.group {
  margin: 0 20px;
  padding: 20px 0 40px 0;

  &__name {
    margin-bottom: 5px;
    font-size: 15px;
    color: #ffffff;
  }
  &__massage {
    font-size: 11px;
    color: #ffffff;
  }
}

.top-items {
  height: 20px;
  width: 260px;
  margin: 0 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  &__name {
    color: #ffffff; 
    font-size: 16px;
  }
  &__icon {
    display: flex;
    &--coler {
      color: #ffffff;
    }
    &--edit {
      margin-right: 5px;
    }
  }
}

